body{
	margin: 0;
	font-family: arial;
	background: #FFC0CB;
	
}


h1{
	background: #F08080;
	margin: 0;
	color: black;
	margin-bottom: 20px;
	padding: 10px;
	border-bottom: 2px solid white;
	text-align: center;
}




table{
	border-top: 2px solid white;
	border-left: 1px solid white;
}

table tr td{
	border-bottom: 1px solid white;
	border-right: 1px solid white;
	padding: 10px;
	color: white;
}

table thead tr td{
	background-color: #222;
	font-size: 28px;
	text-align: center;
	font-weight: bold;
}


.dias{
	
	color: white;
	font-weight: bold;
}

table td{
	background-color: #555;
}

table tfoot tr td{
    text-align: right;
	font-size: 14px;
	background-color: white;
	color: #555;
}


